ul.list {
    text-align: left;
    list-style-type: none;
}

img#logo {
    width: 130px;
}

.wrapper .section .button {
    min-width: 250px;
    margin: 0 auto;
    margin-bottom: 7px;
}

li {
    font-size: 125%;
}
